@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat&family=Open+Sans&family=Poppins:ital,wght@0,400;0,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    background-color: #d0d4ce;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
    background-color: #450000;
}

body {
    background: linear-gradient(68.15deg, #330039 30%, #450000 70%);
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

.header {
    padding: 20px 0;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.line {
    border-right: 4px solid rgba(255, 255, 255);
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    color: rgba(255, 255, 255);
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.typing-animation {
    animation: blinkCursor 1000ms steps(144) infinite normal,
        typing 1s steps(15) 1s normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 6.7em;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.cabecalho-menu {
    display: flex;
    gap: 22px;
}

.buttons-nav {
    flex-direction: row;
    justify-content: space-around;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255);
    cursor: pointer;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #ffffff;
}

.introducao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.introducao-descritiva {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.destaque {
    max-width: 600px;
}

.subtitulo {
    font-size: 24px;
    font-weight: 200px;
    text-shadow: #000000 -3px 1px 3px;
}

.nome {
    font-size: 32px;
    font-weight: 400px;
    font-size: 64px;
    text-shadow: #000 -5px 3px 5px;
}

.sobrenome {
    font-size: 32px;
    font-weight: 400px;
    font-size: 64px;
    text-shadow: #000000 -5px 3px 5px;
}

.descricao {
    font-size: 18px;
    text-shadow: #000000 -3px 1px 3px;
}

.button {
    background-color: #65368f;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: -5px 3px 5px rgba(0, 0, 0, 0.85);
    border-radius: 40px;
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255);
    font-weight: 800px;
    font-size: 20px;
    text-shadow: -5px 3px 5px rgba(0, 0, 0);
    cursor: pointer;
}

.sobre-mim {
    margin-top: 100px;
    background-color: #f5f5f5;
    margin-top: 200px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.587);
}

.titulo-sobre-mim {
    font-size: 32px;
    font-weight: 400px;
    font-size: 64px;
    text-shadow: #000000 2px 2px 4px;
    color: #65368f;
    padding-left: 150px;
    padding-right: 1000px;
}

.informacoes-sobre-mim {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    padding-left: 150px;
    padding-right: 150px;
}
